.Header-Container {
    background-color: #55aaff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 16px 12px 16px;
}

.Header-Title {
    font-size: calc(12px + 2vmin);
    color: white;
    font-weight: bolder;
}

.Header-Desc {
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 12px;
}
